<?xml version="1.0" encoding="UTF-8"?>
<manifest>
  <!-- <project path="system/bt" name="LineageOS/android_system_bt" groups="pdk" /> -->
  <!-- <project path="system/ca-certificates" name="platform/system/ca-certificates" groups="pdk" remote="aosp" /> -->
  <!-- <project path="system/chre" name="platform/system/chre" groups="pdk" remote="aosp" /> -->
  <!-- <project path="system/connectivity/wificond" name="platform/system/connectivity/wificond" groups="pdk" remote="aosp" /> -->
  <!-- <project path="system/connectivity/wifilogd" name="platform/system/connectivity/wifilogd" groups="pdk" remote="aosp" /> -->
  <!-- <project path="system/core" name="LineageOS/android_system_core" groups="pdk" /> -->
  <!-- <project path="system/extras" name="LineageOS/android_system_extras" groups="pdk" /> -->
  <!-- <project path="system/gatekeeper" name="platform/system/gatekeeper" groups="pdk" remote="aosp" /> -->
  <project path="system/hardware/interfaces" name="platform/system/hardware/interfaces" groups="pdk" remote="aosp" />
  <project path="system/hwservicemanager" name="LineageOS/android_system_hwservicemanager" groups="pdk" />
  <!-- <project path="system/keymaster" name="platform/system/keymaster" groups="pdk" remote="aosp" /> -->
  <!-- <project path="system/libfmq" name="platform/system/libfmq" groups="pdk" remote="aosp" /> -->
  <project path="system/libhidl" name="LineageOS/android_system_libhidl" groups="pdk" />
  <project path="system/libhwbinder" name="LineageOS/android_system_libhwbinder" groups="pdk" />
  <!-- <project path="system/libufdt" name="platform/system/libufdt" groups="pdk" remote="aosp" /> -->
  <project path="system/libvintf" name="platform/system/libvintf" groups="pdk" remote="aosp" />
  <!-- <project path="system/media" name="platform/system/media" groups="pdk" remote="aosp" /> -->
  <!-- <project path="system/netd" name="LineageOS/android_system_netd" groups="pdk" /> -->
  <!-- <project path="system/nfc" name="LineageOS/android_system_nfc" groups="pdk" /> -->
  <!-- <project path="system/nvram" name="platform/system/nvram" groups="pdk" remote="aosp" /> -->
  <!-- <project path="system/security" name="LineageOS/android_system_security" groups="pdk" /> -->
  <!-- <project path="system/sepolicy" name="LineageOS/android_system_sepolicy" groups="pdk" /> -->
  <!-- <project path="system/timezone" name="LineageOS/android_system_timezone" groups="pdk" /> -->
  <project path="system/tools/aidl" name="LineageOS/android_system_tools_aidl" groups="pdk" />
  <project path="system/tools/hidl" name="LineageOS/android_system_tools_hidl" groups="pdk" />
  <!-- <project path="system/tpm" name="platform/system/tpm" remote="aosp" /> -->
  <!-- <project path="system/update_engine" name="LineageOS/android_system_update_engine" groups="pdk" /> -->
  <!-- <project path="system/vold" name="LineageOS/android_system_vold" groups="pdk" /> -->
</manifest>
